* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#header div h1 {
  font-size: 2em;
  color: black;
  margin-top: 15px;
  margin-left: 0px;
}

#header div button {
  font-size: 1em;
  color: black;
  padding: 3px;
  margin-top: 10px;
  margin-left: 5px;
}


.header-left {
  display: flex;
}

.logo {
  width: 75px;
  height: 75px;
}

.notification-icon {
  font-size: 1.2em;
}

#profile {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.profile-image {
  width: 60px;
  height: 60px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-info {
  flex-grow: 1;
}

.edit-icon {
  font-size: 1.2em;
}

#metrics {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  margin: 0 15px;
  padding: 10px;
  border-radius: 10px;
}

.metric {
  text-align: center;
}

#bin-station {
  margin: 15px;
}

#bin-station a {
  text-decoration: none;
  color: black;
}

#bin-station a:hover {
  text-decoration: none;
  color: rgb(35, 146, 45);
}

.station {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.map-placeholder {
  height: 200px;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.map-placeholder span {
  position: absolute;
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.map-placeholder span:first-of-type {
  left: 20px;
  bottom: 20px;
}

.map-placeholder span:last-of-type {
  right: 20px;
  top: 20px;
}

#materials-section {
  gap: 10px;
  margin: 15px;
}

#materials-section a {
  color: black;
  text-decoration: none;
}

#materials-section a:hover {
  color: rgb(35, 146, 45);
}
.material-1 {
  display: flex;
  justify-content: space-between;
}

.material {
  flex: 1;
  background-color: #FFFFFF;
  margin: 5px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

#bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #16980f;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #CCCCCC;
}

#bottom-nav a {
  text-decoration: none;
  color: black;
}

#bottom-nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-nav a:hover {
  background-color: #d3e4d2;
}

@media (max-width: 600px) {
  .materials { flex-direction: column; }
}
